body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
}

header {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

nav a {
  padding: 0px 10px;
  background-color: #D3D3D3;
}

figcaption {
  font-size: 0.75em;
  text-align: center;
}

#featured-property {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#details {
  display: block;
}

#details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
